<link rel="import" href="../polymer/polymer.html">

<!--
An input type="text" that dynamically resizes itself based on its content.

##### Example

    <input is="cw-autosize-input" type="text" placeholder="Start typing"></cw-autosize-input>

Use the CSS `min-width` and `max-width` properties to control the amount of growing.

@element cw-autosize-input
@extends input
@homepage http://cletusw.github.io/cw-autosize-input
-->
<polymer-element name="cw-autosize-input" extends="input" on-input="{{onInput}}">

  <script>

    Polymer({

      attached: function() {
        this.style.width = '0';

        // Copy styles from input to mirror
        this.mirror.style.cssText = getComputedStyle(this).cssText;

        this.mirror.style.position = 'absolute';
        this.mirror.style.top = '-999px';
        this.mirror.style.left = '0';
        this.mirror.style.padding = '0';
        this.mirror.style.width = '';
        this.mirror.style['white-space'] = 'pre';

        document.body.appendChild(this.mirror);
      },

      detached: function() {
        document.body.removeChild(this.mirror);
      },

      ready: function() {
        this.mirror = document.createElement('span');
      },

      onInput: function() {
        this.mirror.innerText = this.value + '   ';
        console.log(this.clientWidth);
        this.style.width = this.mirror.clientWidth + 'px';
      }

    });

  </script>

</polymer-element>
